html,
body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    font-size: 20px;
    

}

@font-face {
    font-family: "PixelEmulator";
    src: url("../font/pixel-emulator.otf");
}

#logo {
    font-family: "PixelEmulator";
    font-size: 55px;
    color: MediumVioletRed;
    height: 110px;
    text-align: center;
    padding-top: 40px;
    background: url(../img/JnRLayer1.png) no-repeat; 
    background-size:100%;


}
#container  {
   width: 1000px;
    margin: 0 auto;
    
}

#place-canvas {
 
 height:500px;  
}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #212121;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

.intro {
    margin-top: 50px;
    height: 100% 
}
.about {
 overflow: hidden
}

.one-fourth {
    width:22%;
    
    margin-right:4%;
    float:left;
}

.one-half {
    width:48%;
      float:left;
}

.last {
    margin-right:0 !important;
    clear:right;
}
 
 h4 {
   font-family: "PixelEmulator";

    color: MediumVioletRed;
 }

#footer {
    background: url(../img/JnRLayer1.png) no-repeat; 
    background-size:100%;
    height: 100px;
}

.play a{
 color: MediumVioletRed;
 text-align: center;
 font-size: 35px
}

.play{
width: 120px;
margin: 100px auto;
padding: 50px 85px;
border: 1px solid MediumVioletRed;


}
